/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Banner Nav */
.logo {
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  width: 100%;
}

.logo,
nav,
ul {
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
  justify-content: flex-end;
}

.logo img {
  margin: auto 1rem auto 2rem;
  height: 1.5rem;
  width: auto;
}

li {
  margin: 1rem 2rem 1rem 0;
}

/* Banner */
.main-banner {
  background-image: url(../glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

/* Banner Title  */
.main-banner-title {
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-block;
}

div .flex {
  display: flex;
  justify-content: flex-end;
}

/* Products CSS */



/* philosophy-appointments */



/* Footer CSS */
