/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* nav */
.logo {
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
}

.logo,
ul {
  display: flex;
}

ul {
  flex-grow: 1;
}


/* Banner */
.main-banner {
  background-image: url(../glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

/* Products CSS */



/* philosophy-appointments */



/* Footer CSS */
