/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Banner Nav */
.logo {
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
  width: 100%;
}

.logo,
nav,
ul {
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
  justify-content: flex-end;
}

.logo img {
  margin: auto 1rem auto 2rem;
  height: 1.5rem;
  width: auto;
}

li {
  margin: 1rem 2rem 1rem 0;
}


/* Banner */
.main-banner {
  background-image: url(../glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

/* Banner Title  */
.main-banner-title {
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-block;
}

div .flex {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  .main-banner {
    height: 22rem;
    padding-top: 0;
  }

  div.main-banner .container {
    max-width: 100%;
  }

  .logo {
    top: 0;
  }

  .main-banner-title {
    margin: 5rem 2rem 0 0;
    padding: .75rem 4rem;
  }

  .main-banner-title span {
    font-size: 1.33rem;
  }
}

/* Services */

.services .container {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.service-image img {
  width: 5rem;
}

#exams  {
  width: 3.5rem;
}

/* philosophy-appointments */
.philosophy-appointments .container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.philosophy {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#philosophy {
  margin-right: 5%;
}

.philosophy-title {
  background-color: cadetblue;
  padding: .5rem 0 .5rem 1.5rem;
  font-weight: bold;
  color: white;
  max-width: 12rem;
  margin-bottom: 1rem;
}

/* Footer CSS */
.footer {
  background-color: azure;
}

footer {
  padding: 4rem 0 4rem 4rem;
  display: flex;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}
